


@media screen and (max-width: 576px) {
    
    /* navbar and banner section starts here  */
    .menubar{
        display: block;
    }
    .menu{
        display: none;
    }

    .banner{
        flex-direction: column;
    }

    .banner-content{
        width: 90%;
        margin: 0 auto;
    }
    .banner-image-section{
        width: 100%;
        margin: 0 auto;
    }
    
    /* navbar and banner section ends here  */

  /* change habit section starts here  */

  .change-habits-card-container{
        flex-direction: column;
        gap: 50px;
    }
    .change-habits-title-area{
        width: 100%;
        padding: 0 20px;
    }
    .change-habits-title-area h2{
        font-size: 2.3rem;
    }

    /* change habit section ends here  */

    /* run section starts here  */

    .run-section{
        flex-direction: column;
        gap: 50px;
        margin: 0 auto;
        width: 95%;
    }
    .run-section-content{
        width: 100%;
    }
    .run-section-img{
        width: 100%;
    }

    /* run section ends here  */

    /* bmi calculator section starts here  */

    .bmi-calculator-title{
        width: 90%;
        margin: 30px auto;
    }

    .bmi-calculator-section{
        flex-direction: column;
        gap: 20px;
    }

    .bmi-calculator-chart{
        width: 100%;
    }

    .calculate-bmi{
        width: 100%;
        padding: 20px;
    }

    /* bmi calculator section ends here  */

    /* meet our team section starts here  */

    .trainer-imagr-container{
        grid-template-columns: 1fr;
        padding: 35px ;
        gap: 35px;
    }
    .image-card{
        width: 100%;
        margin: 0 auto;
    }

    .meet-section-title{
        width: 90%;
        margin: 50px auto;
    }

    /* meet our team section ends here  */

    /* footer section starts here  */

    
    .footer-secion{
        flex-direction: column;
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .brand-name-seciton{
        width: 100%;
    
     }
    .line{
        width: 80%;
    
    }

    /* footer section ends here  */
}