
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}
/* shared styles */
.btn-primary{
    border: none;
    background-color:rgb(230, 83, 60);;
    padding: 10px 25px;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    


}

.section-title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;

}


.brand-name{
    font-size: 2.5rem; 
    font-weight: 600;
    color: rgb(230, 83, 60);  
}


.p-style{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
/* shared styles */

/* header section css starts heree */

/* navbar style css starts heree */
.header-section{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.navbar-banner{
    max-width: 1040px;
    margin: 20px auto;
    padding-top: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.brand-name i{
    margin-left: 10px;
}
.menubar{
    font-size: 1.8rem;
    margin-right: 15px;
    display: none;
}
.menu{
    display: flex;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    align-items: center;
    padding: 2px;
    

    
}

.menu li{
    margin-right: 25px;
}
/* navbar style css ends heree */

/* banner style css starts hereee */
.banner{
    max-width: 1040px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.banner-content{
    width: 45%;
    margin-top:50px ;
}
.special-font{
    font-family: "Great Vibes", cursive;
    font-size: 4.5rem;
}

.banner-content h1{
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.banner-content p{
    margin: 30px 0 20px 0;
}

.banner-content button{
    padding: 10px 20px;
}

.download-button{
    margin-left: 10px;
    border: 2px solid saddlebrown;
    background-color: black;
    padding: 10px 25px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    color: white
}

.banner-image-section{
    width: 50%;
    text-align: center;
    position: relative;
}
.banner-img{
    max-width: 320px;
    height: 540px;
    margin: 0 auto;
}
.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.video-tutorial{
    width: 160px;
    position: absolute;
    top: 400px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    background: rgba(48, 48, 48, 0.54);
    border-radius: 10px;
}
.red-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.video-tutorial-content p{
    font-size: 0.8rem;

}

.video-tutorial-content h3{
    font-size: 1.2rem;
    font-weight: 800;
}

.free-workout-videos{
    width: 160px;
    position: absolute;
    top: 150px;
    right: 50px;
    padding: 15px 10px;
    background: rgba(48, 48, 48, 0.54);
    border-radius: 10px;
}
.free-workout-videos h2{
    font-size: 1.8rem ;
    font-weight: 900;
}
.free-workout-videos p{
    font-size: 0.8rem;
}
/* banner style css ends hereee */

/* header section css ends heree */

/* run an extra mile section css starts here*/
.run-section{
    max-width: 1040px;
    min-height: 300px;
    margin: 20px auto;
    background-color: rgba(97, 103, 113, 0.315);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 50px;
    gap: 150px;
    
}

.run-section-content{
    width: 45%;
}

.run-section-content p{
    letter-spacing: 1px;
}
.run-section-img{
    width:40% ;
    
    
}
.run-section-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .run-section button{
    margin-top: 25px;
 }
/* run an extra mile section ends heree */
